
<mat-toolbar color="primary">
    <a
       routerLink="/"
       mat-icon-button
       class="example-icon"
       aria-label="Example icon-button with menu icon"
       >
      <mat-icon>menu_book</mat-icon>
    </a>
    <span>ExamPortal</span>
    <span class="example-spacer"></span>


    <a
    *ngIf="!active"
    [routerLink]="'/login'"
       mat-icon-button 
       class="example-icon favorite-icon" 
       aria-label="Example icon-button with heart icon"
    >
    login
    </a>

    <a 
    *ngIf="!active"
    [routerLink]="'/signup'"
       mat-icon-button 
       class="example-icon favorite-icon ml20 mr20" 
       aria-label="Example icon-button with heart icon"
    >
    register
    </a>
    <a
      (click)="logout()" 
      *ngIf="active"
       mat-icon-button 
       class="example-icon favorite-icon ml20 mr20" 
       aria-label="Example icon-button with heart icon"
    >
    logout
    </a>

    <button
      *ngIf="active && user"
       mat-icon-button
       class="example-icon favorite-icon ml20" 
       aria-label="Example icon-button with heart icon"
    >
    {{user.username}}
   </button>
    
  </mat-toolbar>
  
