<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                
                <div class="container text-center">
                    <img src="../../../assets/sss.png" alt="" />
                </div>
                <h1 class="text-center">Register here!!</h1>

                {{user |json}}

                <form (ngSubmit)="formSubmit()">
                    <!-- username -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Username</mat-label>
                        <input 
                        [(ngModel)]="user.username"
                        name="username"
                         matInput placeholder="Enter here">
                    </mat-form-field>

                    <!-- password -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Userpassword</mat-label>
                        <input 
                        [(ngModel)]="user.password"
                        name="password"
                        type="password" matInput placeholder="Enter here">
                    </mat-form-field>

                    <!-- firstname -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>firstname</mat-label>
                        <input 
                        [(ngModel)]="user.firstName"
                        name="firstName"
                        matInput placeholder="Enter here">
                    </mat-form-field>

                    <!-- lastname -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Lastname</mat-label>
                        <input 
                        [(ngModel)]="user.lastName"
                        name="lastName"
                        matInput placeholder="Enter here">
                    </mat-form-field>

                    <!-- email -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Email Address</mat-label>
                        <input 
                        [(ngModel)]="user.email"
                        name="email"
                        type="email" matInput placeholder="Enter here">
                    </mat-form-field>

                    <!-- phone no -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>PhoneNo</mat-label>
                        <input 
                        [(ngModel)]="user.phone"
                        name="phone"
                         type="number" matInput placeholder="Enter here">
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button style="margin-left:20px" mat-raised-button color="accent">Clear</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
